.owl-theme{
	.owl-nav{
		margin-top: 0;
		position: absolute;
		width: 100%;
	    top: 50%;
	    left: 50%;
	    @include css3-prefix ('transform','translate(-50%,-50%)');
	    .owl-prev{
	    	position: absolute;
		    left: -30px;
		}
		.owl-next{
			position: absolute;
		    right: -30px;
		}
	}
}