$sub-menu: 'true';  /* true | false */
$mega-menu: 'true';  /* true | false */
$tab-menu: 'true';  /* true | false */
$option-1: 'true';  /* true | false */

.hm-desktop {
    display: none;
    @media (min-width: 1025px){
        display: block;
    }
}

.hm-mobile {
    display: none;
    @media (max-width: 1024px){
        display: block;
    }
}


/* Desktop S */
    .hm-desktop {
        &.header-main-02 {
            position: fixed;
            left: 0;
            z-index: 9;
            top: 0;
            width: 100%;
            @include ac-transition();

            &.nav-up{
                top: -80px;
            }

            &.inner-page-header {
                position: relative;
            }

            &.mobile-stick {
                background-color: $ac_a;
                box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
            }

            .hm-des-01 {
                float: left;
                width: 113px;
                margin: 24px 0;
            }

            .hm-des-02 {
                float: left;
                width: calc(100% - 113px);
            }

            .menu {
                margin: 0;
                padding: 0;
                position: relative;
                left: inherit !important;
                z-index: 99;
                width: 100% !important;
                background-color: transparent;
                &:after{
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }
                > ul {
                    display: flex;
                    white-space: nowrap;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    float: right;
                    li {
                        padding: 0;
                        margin: 0;
                        display: inline-block;
                        float: left;
                        a {
                            display: block;
                            font-size: $ac_fs_base;
                            font-weight:$ac_fw_m;
                            line-height: 150%;
                            color: $ac_white;
                            padding: 15px 15px;
                            position: relative;
                            &:hover {
                                color: $ac_b;
                                background-color: transparent;
                            }
                        }
                        &.active > a, &:hover > a{
                            color: $ac_b;
                            background-color: transparent;
                        }
                        > a {
                            &:after{
                                content: '';
                            }
                            &:only-child{
                                &:after{
                                    content: '';
                                }
                            }
                        }
                        &:hover {
                            > a {
                                &:after{
                                    content: '';
                                }
                                &:only-child{
                                    &:after{
                                        content: '';
                                    }
                                }
                            }
                            > .sub-menu, > .mega-menu, > .tab-menu {
                                display: inherit;
                            }
                            > .option-1 {
                                display: flex;
                            }
                        }
                    }

                    @if $sub-menu == "true"{
                        .sub-menu {
                            display: none;
                            position: absolute;
                            li {
                                padding: 0;
                                margin: 0;
                                width: 180px;
                                float: none;
                                display: list-item;
                                position: relative;
                                background-color: $ac_white;
                                @include css3-prefix ('box-shadow', '#{$ac_bs_5}');
                                a {
                                    display: block;
                                    padding: 8px 10px;
                                    font-size: $ac_fs_base;
                                    font-weight:$ac_fw_m;
                                    line-height: 150%;
                                    color: $ac_body;
                                    border-bottom: 1px solid rgba($ac_black, 0.1);
                                    &:hover {
                                        color: $ac_white;
                                        background-color: $ac_a;
                                    }
                                }
                                &.active > a, &:hover > a{
                                    color: $ac_white;
                                    background-color: $ac_a;
                                }
                            }
                            .sub-menu {
                                li {
                                    position: relative;
                                    top: -42px;
                                    left: 180px;
                                }
                            }
                        }
                    } @else{
                        .sub-menu{
                            display: none !important;
                        }
                    }

                    @if $mega-menu == "true"{
                        .mega-menu{
                            display: none;
                            position: absolute;
                            left: 0;
                            right: 0;
                            background-color: $ac_white;
                            padding: 15px;
                            border-radius: 5px;
                            @include css3-prefix ('box-shadow', '#{$ac_bs_5}');
                            .mm_title{
                                display: block;
                                font-size: $ac_fs_base + 4px;
                                font-weight: $ac_fw_sb;
                                line-height: 110%;
                                color: $ac_black;
                                margin: 0 0 15px 0;
                                padding: 0;
                                &:hover{
                                    color: $ac_a;
                                    background-color: transparent;
                                }
                            }
                            > li{
                                width: 20%;
                                float: left;
                                padding: 0;
                                margin: 0;
                                &:nth-child(5n+1){
                                    clear: both;
                                }
                                ul {
                                    li{
                                        display: block;
                                        width: 100%;
                                        margin: 0;
                                        padding: 0;
                                        border-left: 1px solid rgba($ac_black, 0.1);
                                        a{
                                            padding: 5px 10px;
                                            font-size: $ac_fs_base;
                                            font-weight: $ac_fw_m;
                                            line-height: 120%;
                                            color: $ac_body;
                                            &:hover{
                                                color: $ac_black;
                                                background-color: transparent;
                                            }
                                        }
                                        &.active > a, &:hover > a{
                                            color: $ac_black;
                                            background-color: transparent;
                                        }
                                    }
                                }
                                &:hover > a{
                                    color: $ac_a;
                                    background-color: transparent;
                                }
                            }
                        }
                    } @else{
                        .mega-menu{
                            display: none !important;
                        }
                    }

                    @if $option-1 == "true"{
                        .option-1{
                            display: none;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: 0 15px;
                            padding: 15px;
                            background-color: $ac_white;
                            border-radius: 5px;
                            @include css3-prefix ('box-shadow', '#{$ac_bs_5}');
                            flex-wrap: wrap;
                            > li{
                                display: flex;
                                flex: 0 0 calc(33.33% - 10px);
                                width: calc(33.33% - 10px);
                                padding: 0;
                                margin: 5px;
                                a {
                                    color: $ac_body;
                                    white-space: normal;
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: start;
                                    width: 100%;
                                    .o1-01 {
                                        flex: 0 0 45px;
                                        max-width: 45px;
                                        svg {
                                            width: 24px;
                                            height: 24px;
                                        }
                                    }
                                    .o1-02 {
                                        flex: 0 0 calc(100% - 45px);
                                        max-width: calc(100% - 45px);
                                        .o1-title {
                                            font-size: $ac_fs_base;
                                            font-weight: 600;
                                            line-height: 120%;
                                            color: $ac_body;
                                        }
                                        .o1-sub-title {
                                            margin-top: 5px;
                                            font-size: 13px;
                                            line-height: 130%;
                                            color: $ac_body;
                                        }
                                    }
                                    &:hover {
                                        background-color: rgba($ac_a, 0.1);
                                        border-radius: 5px;
                                    }
                                }
                                &.active {
                                    a {
                                        background-color: rgba($ac_a, 0.1);
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                    } @else{
                        .option-1{
                            display: none !important;
                        }
                    }

                    @if $tab-menu == "true"{
                        .tab-menu{
                            display: none;
                            position: absolute;
                            left: 0;
                            right: 0;
                            padding: 15px;
                            background-color: $ac_white;
                            border-radius: 5px;
                            @include css3-prefix ('box-shadow', '#{$ac_bs_5}');
                            > li{
                                margin: 0;
                                padding: 0;
                                width: 200px;
                                display: block;
                                float: none;
                                border-bottom: 1px solid rgba($ac_black, 0.1);
                                border-right: 1px solid rgba($ac_black, 0.1);
                                &:last-child{
                                    border-bottom: none;
                                }
                                > a{
                                    padding: 8px 10px;
                                    font-size: $ac_fs_base;
                                    font-weight: $ac_fw_m;
                                    line-height: 120%;
                                    color: $ac_body;
                                    &:hover{
                                        color: $ac_a;
                                        background-color: transparent;
                                    }
                                }
                                &:first-child{
                                    ul{
                                        display: block;
                                    }
                                }
                                > ul {
                                    display: none;
                                    position: absolute;
                                    z-index: 9;
                                    left: 215px;
                                    top: 0;
                                    width: calc(100% - 215px);
                                    padding: 15px;
                                    background-color: $ac_white;
                                    > li{
                                        float: left;
                                        width: 25%;
                                        .tm_title{
                                            display: block;
                                            font-size: $ac_fs_base + 4px;
                                            font-weight: $ac_fw_sb;
                                            line-height: 110%;
                                            color: $ac_black;
                                            margin: 0 0 10px 0;
                                            padding: 0;
                                            &:hover{
                                                color: $ac_a;
                                                background-color: transparent;
                                            }
                                        }
                                        ul {
                                            li{
                                                display: block;
                                                width: 100%;
                                                margin: 0;
                                                padding: 0;
                                                a{
                                                    padding: 5px 0;
                                                    font-size: $ac_fs_base;
                                                    font-weight: $ac_fw_m;
                                                    line-height: 120%;
                                                    color: $ac_body;
                                                    &:hover{
                                                        color: $ac_a;
                                                        background-color: transparent;
                                                    }
                                                }
                                                &.active{
                                                    > a{
                                                        color: $ac_a;
                                                    }
                                                }
                                            }
                                        }
                                        &.active > a, &:hover > a{
                                            color: $ac_a;
                                            background-color: transparent;
                                        }
                                    }
                                }
                                &.active{
                                    border-right: 5px solid rgba($ac_black, 0.1);
                                    > ul {
                                        display: block;
                                        z-index: 9;
                                    }
                                }
                                &:hover{
                                    border-right: 5px solid rgba($ac_black, 0.1);
                                    > ul {
                                        display: block;
                                        z-index: 99;
                                    }
                                }
                                &.active > a, &:hover > a{
                                    color: $ac_black;
                                    background-color: transparent;
                                }
                            }
                            .thumbnail-container{
                                padding-bottom: 150%;
                                background-color: rgba($ac_black, 0.2);
                            }
                        }
                    } @else{
                        .tab-menu{
                            display: none !important;
                        }
                    }
                }

                > ul {
                    > .is-open-a {
                        &:hover {
                            > a {
                                &:before {
                                    display: block;
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    border-left: 8px solid transparent;
                                    border-right: 8px solid transparent;
                                    border-bottom: 8px solid #fff;
                                    border-top-right-radius: 10px;
                                    position: absolute;
                                    transform: translateY(-50%);
                                    left: calc(50% - 8px);
                                    bottom: -4px;
                                    z-index: 100000;
                                }
                            }
                        }
                    }
                }
            }

            .is-open, .menu__open, .menu__close, .menu_mobile_visibility{
                display: none !important;
            }

            .col_half{
                width: 50%;
                float: left;
                display: block;
                &.left{
                    padding-right: 50px;
                }
                &.right{
                    padding-left: 50px;
                }
            }

            #more-menu{
                display:none;
                .sub-menu {
                    right: 0;
                    .sub-menu {
                        li {
                            right: 180px;
                            left: auto;
                        }
                    }
                }
            }
        }   
    }
/* Desktop E */


/* Mobile S */
    .hm-mobile {
        &.header-main-02 {
            background-color: $ac_a;
            position: relative;
            width: 100%;
            top: 0;
            z-index: 9999;
            @include ac-transition();
            box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);

            &.nav-up{
                top: -80px;
            }

            &.inner-page-header {
                position: relative;
            }

            &.mobile-stick {
                position: fixed;
                background-color: $ac_a;
                box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
            }

            .hm-mob-01 {
                float: left;
                width: 113px;
                margin: 12px 0;
            }
            .hm-mob-02 {
                float: left;
                width: calc(100% - 113px - 35px - 35px - 40px);
                text-align: right;
            }
            .hm-mob-03 {
                float: left;
                width: 35px;
                text-align: right;
            }
            .hm-mob-04 {
                float: left;
                width: 35px;
                text-align: right;
            }
            .hm-mob-05 {
                float: left;
                width: 40px;
                text-align: right;
            }

            .icon-menu {
                color: $ac_white;
                &:hover {
                    color: $ac_white;
                }
            }
            .email-us {
                svg {
                    width: 24px;
                    height: 24px;
                }
            }
            .call-us {
                svg {
                    width: 22px;
                    height: 22px;
                }
            }
            .menu-open {
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
            .menu-close {
                background-color: $ac_c;
                color: $ac_b;
                display: inline-block;
                padding: 5px;
                border-radius: 2px;
                box-shadow: rgba(100,100,111, 0.2) 0px 7px 29px 0px;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            .hm-menu {
                position: fixed;
                z-index: 999;
                overflow-x: scroll;
                margin: 0;
                padding: 0;
                width: 250px;
                right: -300px;
                bottom: 0;
                top: 0;
                background-color: $ac_white;
                box-shadow: rgba(100,100,111, 0.2) 0px 7px 29px 0px;
                @include ac-transition();
                table {
                    tr{
                        td {
                            vertical-align: middle;
                        }
                    }
                }
                .hm-border {
                    position: fixed;
                    width: 250px;
                    padding: 15px;
                    background-color: #e8eaf5;
                    z-index: 999;
                }

                .brand-nav {
                    list-style: none;
                    margin: 50px 0 0 0;
                    padding: 20px;
                    li {
                        clear: both;
                        list-style: none;
                        &:after{
                            content: ".";
                            display: block;
                            clear: both;
                            visibility: hidden;
                            line-height: 0;
                            height: 0;
                        }
                        a {
                            font-size: 14px;
                            font-weight: 600;
                            color: $ac_body;
                            line-height: 120%;
                            padding: 8px 0;
                            display: block;
                        }
                        &.active {
                            > a {
                                color: $ac_a;
                            }
                        }
                        ul {
                            display: none;
                            min-height: auto !important;
                            margin-left: 15px;
                            position: relative;
                            li {
                                position: relative;
                                list-style: none;
                                &:before{
                                    position: absolute;
                                    content: '';
                                    left: -15px;
                                    top: 15px;
                                    background-color: rgba($ac_black, 0.1);
                                    width: 10px;
                                    height: 1px;
                                }
                                a {
                                    padding: 8px 10px;
                                }
                                &.active {
                                    > a {
                                        background-color: rgba($ac_a, 0.1);
                                        border-radius: 5px;
                                        color: $ac_a;
                                    }
                                }
                                ul {
                                    margin-left: 0;
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .is-open{
                    position: relative;
                    z-index: 99;
                    text-align: center;
                    width: 30px;
                    height: 32.8px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    svg {
                        width: 15px;
                        height: 15px;
                        @include ac-transition();
                    }
                    &.is-close {
                        svg {
                            transform: rotate(45deg);
                        }
                    }
                }
                
                .is-open-a > a{
                    float: left;
                    width: calc(100% - 30px);
                }

                .is-open.is-close ~ ul {
                    display: block !important;
                }

                .menu-hidden{
                    display: none;
                }

                #more-menu {
                    display: none;
                }
                
                .col_half {
                    > ul > li:last-child{
                        border-bottom: 1px solid rgba($ac_black, 0.1);
                    }
                    .navbar-left, .navbar-right{
                        float: none !important;
                    }
                }
            }
        }
    }

    /* Menu Overlap S */
        .menu_overlap {
            position: relative;
            overflow: hidden;
            .nav-overlay {
                position: fixed;
                z-index: 99;
                background-color: rgba($ac_black, 0.7);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    /* Menu Overlap E */
/* Mobile E */