@mixin placeholder () {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
}

@mixin ac-media-hover () {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin ac-transition ($transition-value: $ac_3_ti_5s) {
    @include css3-prefix ('transition', '#{$transition-value}');
}

@mixin ac-bg-gradient($deg:90deg, $startColor: #3C3C3C, $startColorRGBA: 1, $startColorPer: 35%, $endColor: #999999, $endColorRGBA: 1, $endColorPer:100%) {
    background: $startColor;
    background: -moz-linear-gradient($deg, rgba($startColor, $startColorRGBA) $startColorPer, rgba($endColor, $endColorRGBA) $endColorPer);
    background: -webkit-linear-gradient($deg, rgba($startColor, $startColorRGBA) $startColorPer, rgba($endColor, $endColorRGBA) $endColorPer);
    background: linear-gradient($deg, rgba($startColor, $startColorRGBA) $startColorPer, rgba($endColor, $endColorRGBA) $endColorPer);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$startColor}",endColorstr="#{$endColor}",GradientType=1);
}

