.browser-upgrade {
    display: none;
}

@media all and (-ms-high-contrast:none) {
    .browser-upgrade {
        position: fixed;
        bottom: 0;
        background-color: #dc3545;
        padding: 15px;
        z-index: 99999999;
        width: 100%;
        color: #fff;
        display: block;
        font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI Regular', 'Helvetica Neue', Helvetica, Tahoma, 'Arial Unicode MS', Sans-serif;
        .bu-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            max-width: 1024px;
            margin: 0 auto;
        }
        .bu-1 {
            flex: 0 0 80%;
            max-width: 80%;
            @media (max-width: 992px){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .bu-2 {
            flex: 0 0 20%;
            max-width: 20%;
            text-align: right;
            @media (max-width: 992px){
                flex: 0 0 100%;
                max-width: 100%;
                text-align: left;
                margin-top: 15px;
            }
        }
        .bu-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 110%;
            color: #fff;
        }
        .bu-subtitle {
            font-size: 14px;
            font-weight: 400;
            line-height: 110%;
            color: #fff;
            margin-top: 5px;
        }
        .bu-launch-now {
            padding: 8px 15px;
            background-color: #fff;
            color: #000;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            border-radius: 3px;
            box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
        }
    }
}