.about-us-04 {
    .-bg {
        position: relative;
        padding: 50px 0;
        &:before {
            content: "";
            position: absolute;
            background-color: rgba($ac_black, 0.05);
            width: 20%;
            top: 0;
            right: 0;
            bottom: 0;
        }
        @media (max-width: 992px) {
            &:before {
                top: auto;
                width: 100%;
                height: 20%;
            }
            padding-top: 0;
        }
    }
    .thumbnail-container {
        overflow: initial;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            background: $ac_c;
            width: 200px;
            height: 200px;
            bottom: -100px;
            left: -100px;
            border-radius: 5px;
        }
        @media (max-width: 992px) {
            margin-top: 15px;
            &:before {
                display: none;
            }
        }
    }
}