.about-us-03 {
    &:before {
        content: "";
        position: absolute;
        background: $ac_c;
        width: 50%;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .cms {
        p {
            color: $ac_body;
            text-align: justify; 
        }
    }
     .-img-title {
        margin-top: 50px;
        max-width: 350px;
        float: right;
    }

    @media (max-width: 992px) {
        &:before {
            width: 100%;
        }
         .-img-title {
            color: $ac_white;
            float: none;
            margin-top: 25px;
        }
    }
}