.about-us {
    &:before {
        content: "";
        position: absolute;
        background: $ac_c;
        width: 100%;
        top: 0;
        left: 0;
        height: 70%;
    }
    .cms {
    	h2, p {
    		color: $ac_body;
    	}
    }
    .-img {
        max-width: 730px;
        position: relative;
        margin: 50px auto 0;
        img {
            width: 100%;
            border-radius: $ac_radius;
        }
        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            line-height: 80px;
            background-color: $ac_a;
            border-radius: 50%;
            color: $ac_white;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                content: "";
                position: absolute;
                z-index: -9;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 80px;
                height: 80px;
                background: $ac_a;
                border-radius: 50%;
                animation: pulse-border 1500ms ease-out infinite;
            }
        }
    }
}

.about-us-2 {;
    .-items {
        background-color: rgba($ac_c, 1);
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}