.blog-listing {
	.-items {
		flex: 1;
	    .-main {
	        &:before {
	            position: absolute;
	            z-index: -1;
	            content: '';
	            top: -30px;
	            left: 0;
	            right: 0;
	            height: 50px;
	            background-color: $ac_white;
	            transform: skewY(-4deg);
	        }
	        .-author{
	            width: 50px;
	            height: 50px;
	            border-radius: 50px;
	            top: -60px;
	            right: 20px;
	            line-height: 47px;
	            img{
	                width: 100%;
	            }
	        }
	    }
	    &:hover {
	    	.-title {
	    	    a {
	    	        color: $ac_a;
	    	    }
	    	}
	    }
	}
}