.blog-left-panel-01 {
	.ac-iptitle {
	    position: relative;
	    z-index: 1;
	}

	.-featured {
	    overflow: hidden;
	    margin-top: 15px;
	    + .-featured {
	        padding-top: 15px;
	        border-top: 1px solid rgba($ac_black, 0.07);
	    }
	    .-img {
	        float: left;
	        width: 100px;
	    }
	    .-desc {
	        float: left;
	        width: calc(100% - 100px);
	        padding-left: 15px;
	    }
	}

	.-categories {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    li {
	        margin: 0;
	        padding: 0;
	        display: block;
	        + li {
	            border-top: 1px solid rgba($ac_black, 0.08);
	        }
	    }
	}
}