.contact-us-02 {
    &:before {
        content: "";
        position: absolute;
        background: $ac_c;
        width: 60%;
        top: 0;
        left: 0;
        bottom: 0;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    .cms {
        p {
            color: $ac_body;
            text-align: justify; 
        }
    }
}