.contact-us-page{
    position: relative;
    z-index: 1;
    background-color: $ac_white;
    
    .-main {
        border: 1px solid rgba(0, 0, 0, 0.07);
    }

    .ac-share{
        margin: 15px 0 0 0;
        padding: 15px 0 0 0;
        border-top: 1px solid rgba(0, 0, 0, 0.07);
    }

    .-icon{
        width: 30px;
        flex: 0 0 30px;
        height: 30px;
    } 
}