.pro-sea-main{
	.-main-list{
		> li {
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.grid-2 {
	    width: 350px;
	    .-list {
		    li {
		    	flex: 0 0 50%;
		    	width: 50%;
		    	&:nth-child(n+3) {
		    	    margin-top: 8px;
		    	}
		    }
	    }
	}
	.grid-3 {
	    width: 620px;
	    .-list {
		    li {
		    	flex: 0 0 33.33%;
		    	width: 33.33%;
		    	&:nth-child(n+4) {
		    	    margin-top: 8px;
		    	}
		    }
	    }
	}
	.grid-5 {
	    width: 350px;
	    .-list {
		    li {
		    	flex: 0 0 20%;
		    	width: 20%;
		    	&:nth-child(n+6) {
		    	    margin-top: 8px;
		    	}
		    }
	    }
	}
}

.-pro-sea-list {
	margin-right: -4px;
	margin-left: -4px;
	li {
		padding-right: 4px;
		padding-left: 4px;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			border: 1px solid rgba($ac_black, 0.5);
			padding: 8px 15px;
			border-radius: 3px;
			@include ac-transition();
			cursor: pointer;
		}
		&.active, &:hover {
			span {
				background-color: $ac_a;
				color: $ac_white;
			}
		}
	}
}

.pro-sea-mobile {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
}