.sitemap-page {
	position: relative;
	z-index: 1;
	background-color: $ac_white;
	ul {
		margin: 0;
		padding: 0;
		li{
			float: left;
			list-style: none;
			width: 25%;
			position: relative;
			margin: 0px 0px 45px 0px;
			@media (max-width: 980px) {
				width: 50%;
			}
			@media (max-width: 480px) {
				width: 100%;
			}
			&:nth-child(4n+1) {
				clear: both;
			}
			@media (max-width: 992px) {
				&:nth-child(2n+1) {
					clear: both;
				}
			}
			a {
				.sp-icon{
					position: absolute;
					left: 0px;
					background-color: $ac_a;
					@include css3-prefix ('border-radius','5px');
					text-align: center;
					width: 50px;
					height: 50px;
					i{
						font-size: $ac_fs_h4;
						line-height: 50px;
						color: $ac_white;
					}
				}
				.sp-main-menu {
					display: inline-block;
					vertical-align: middle;
					font-size: $ac_fs_base + 4px;
					font-weight: $ac_fw_r;
					line-height: 100%;
					color: $ac_body;
					padding: 15px 0px 15px 62px;
				}
				@include ac-media-hover() {
					&:hover{
						.sp-main-menu {
							color: $ac_a;
						}
					}
				}
			}
			ul {
				overflow: hidden;
				border-left: 1px solid rgba($ac_black, 0.1);
				margin: 2px 0px 0px 24px;
				li{
					width: 100%;
					margin: 4px 0px !important;
					padding: 0px 0px 0px 37px;
					&:before {
						border-top: 1px solid rgba($ac_black, 0.1);
						margin: 11px 0px 0px -37px;
						content: "";
						position: absolute;
						width: 25px;
					}
					a{
						font-size: $ac_fs_base;
						font-weight: $ac_fw_m;
						color: $ac_body;
						&.active{
							color: $ac_a;
						}
						@include ac-media-hover() {
							&:hover{
								color: $ac_a;
							}
						}
						&:focus{
							outline: medium none;
						}
					}
					ul{
						margin: 0;
					}
				}
			}
		}
		> li{
			@media (min-width: 1024px) {
				&:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
					margin-bottom:0px;
				}
			}
			@media (min-width: 768px) {
				&:nth-last-child(1), &:nth-last-child(2){
					margin-bottom:0px;
				}
			}
		}
	}
}