.sitemap-02 {
	position: relative;
	z-index: 1;
	background-color: $ac_white;
	.sitemap-02-list {
		margin: 0;
		padding: 0;
		column-count: 4;
		column-gap: 3%;
		@media (max-width: 1024px) {
			column-count: 3;
		}
		@media (max-width: 767px) {
			column-count: 2;
		}
		@media (max-width: 480px) {
			column-count: 1;
		}
		li {
			list-style: none;
		    position: relative;
		    margin: 0 0 15px 0;
		    a {
		    	font-size: 18px;
		    	font-weight: 600;
		    	line-height: 150%;
		    	color: $ac_a;
		    	&:hover {
		    		color: $ac_b;
		    	}
		    }
		    ul {
		    	overflow: hidden;
	    	    border-left: 1px solid rgba($ac_black, 0.1);
	    	    margin: 5px 0 0 5px;
	    	    li {
	    	    	width: 100%;
    	    	    margin: 0 !important;
    	    	    padding: 4px 0 4px 20px;
    	    	    &:before {
    	    	    	border-top: 1px solid rgba($ac_black, 0.1);
	    	    	    left: 0;
	    	    	    top: 16px;
	    	    	    content: "";
	    	    	    position: absolute;
	    	    	    width: 12px;
    	    	    }
    	    	    a {
    	    	    	font-size: 16px;
	    	    	    font-weight: 500;
	    	    	    line-height: 150%;
	    	    	    color: $ac_body;
	    	    	    &:hover {
	    	    	    	color: $ac_b;
	    	    	    }
    	    	    }
    	    	    ul {
    	    	    	margin-left: 0;
    	    	    }
	    	    }
		    }
		}
	}
}