.team-listing {
	.-items {
	    .-share {
	        margin: 0 15px;
	        padding: 10px;
	        list-style: none;
	        font-size: 0;
	        position: absolute;
	        left: 0;
	        bottom: -100px;
	        text-align: center;
	        background-color: $ac_c;
	        border-radius: $ac_radius;
	        @include ac-transition();
	        
	        @media (max-width:992px) {
	            bottom: 15px;
	        }
	        a {
	        	color: $ac_a;
	        	border-color: $ac_a;
	        	font-size: 13px;
	        	&:hover {
	        		color: $ac_white;
	        		border-color: $ac_a;
	        	}
	        }
	    }
	    &:hover {
	        .-share {
	            bottom: 15px;
	        }
	    }
	}
}