.home-banner{
    position: relative;
    z-index: 1;

    .carousel-inner {
        z-index: 0;
    }

    .-fill{
        height: 100vh;
        background-color: rgba($ac_black,0);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        @media (max-width:992px){
            height: 50vh;
        }
        @media (max-width:767px){
            height: 100vh;
        }
        @media (max-width:576px){
            height: 100vh;
        }
        &:before{
            position: absolute;
            z-index: 1;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($ac_black, 0.2);
        }
    }

    .thumbnail-container {
        padding-bottom: 100vh;
        @media (max-width:992px){
            padding-bottom: 50vh;
        }
        @media (max-width:767px){
            padding-bottom: calc(100vh - 49.5px);
        }
        @media (max-width:576px){
            padding-bottom: 80vh;
        }
        &:before{
            position: absolute;
            z-index: 1;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($ac_black, 0.2);
        }
    }

    video, .youtube-video, .vimeo-video {
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .-caption{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0;
        @include css3-prefix ('text-shadow', 'none');
    }

    .-indicators{
        z-index: 1;
        bottom: 20px;
        li {
        	width: 15px;
            height: 10px;
            border: 1px solid $ac_white;
            background-color: transparent;
            @include ac-transition();
            border-radius: 100px;
            opacity: 1;
            cursor: pointer; 
            margin: 0;
            @media (max-width: 767px) {
            	border-color: $ac_a;
            }
            + li {
                margin: 0 0 0 5px;
            }
        }
        .active{
            background-color: $ac_white;
            @media (max-width: 767px) {
            	background-color: $ac_a;
            }
        }
    }

    .-control{
        &.left, &.right {
            position: absolute;
            top: calc(50% - 25px);
            width: 50px;
            height: 50px;
            border-radius: 50px;
            padding: 0;
        }
        &.left{
            left: 40px;
        }
        &.right{
            right: 40px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
}


@media (min-width: 1024px) {
    .carousel-fade {
        .carousel-item {
            opacity: 0;
            @include ac-transition();
            .-caption {
                opacity: 0;
                transform: translateY(5%);
                @include ac-transition($ac_3_ti_9s);
            }
            &.active {
                opacity: 1;
                .-caption {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}