/* Breadcrumb S */
    .#{$ac}-breadcrumb{
        li{
            display: inline-flex;
            list-style: noen;
            &.active{
                color: $ac_b;
                a {
                    color: $ac_b;
                }
            }
            + li{
                &:before{
                    display: inline-block;
                    padding-right: 5px;
                    padding-left: 5px;
                    content: "-";
                }
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
/* Breadcrumb E */