/* Button E */
    @mixin ac-button ($height, $min-width, $background, $border-width, $border-style, $border-color, $border-radius, $padding, $font-size, $font-weight, $color, $line-height, $hover-color, $hover-background, $hover-border-color) {
        height: $height;
        min-width: $min-width; 
        background-color: $background;
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
        line-height: $line-height;
        text-transform: capitalize;
        white-space: normal;
        padding: $padding;
        margin: 0px;
        border: $border-width $border-style $border-color;
        border-radius: $border-radius;
        cursor: pointer;
        box-shadow: none;
        user-select: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: $ac_ff_one; 
        @include ac-transition();
        position: relative;
        z-index: 1;
        overflow: hidden;
        &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
            box-shadow: none;
            outline: none;
            background-color: $background;
            border: $border-width $border-style $border-color;
            font-size: $font-size;
            font-weight: $font-weight;
            color: $color;
            line-height: $line-height;
        }
        @media (min-width: 1024px) {
            &:hover{
                color: $hover-color;
                background-color: $hover-background;
                border-color: $hover-border-color;
                box-shadow: none;
                &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active{
                    color: $hover-color;
                    background-color: $hover-background;
                    border-color: $hover-border-color;
                    box-shadow: none;
                }
            }
        }
        &.#{$ac}-btn-small{
            height: 30px !important;
            padding: 0 10px;
        }
    }

    .#{$ac}-btn-primary {
        @include ac-button(40px, auto, $ac_a, 1px, solid, transparent, $ac_radius, 0 20px, 16px, 400, $ac_white, 100%, $ac_white, $ac_a, transparent);
    }

    .#{$ac}-btn-secondary {
        @include ac-button(40px, auto, $ac_b, 1px, solid, transparent, $ac_radius, 0 20px, 16px, 400, $ac_white, 100%, $ac_white, $ac_b, transparent);
    }
/* Button E */

/* Outline Button S */
    @mixin ac-outline-button ($height, $min-width, $background, $border-width, $border-style, $border-color, $border-radius, $padding, $font-size, $font-weight, $color, $line-height, $hover-color, $hover-background, $hover-border-color) {
        height: $height;
        min-width: $min-width; 
        background-color: $background;
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
        line-height: $line-height;
        text-transform: capitalize;
        white-space: normal;
        padding: $padding;
        margin: 0px;
        border: $border-width $border-style $border-color;
        border-radius: $border-radius;
        cursor: pointer;
        box-shadow: none;
        user-select: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: $ac_ff_one; 
        @include ac-transition();
        position: relative;
        z-index: 1;
        overflow: hidden;
        &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
            box-shadow: none;
            outline: none;
            background-color: $background;
            border: $border-width $border-style $border-color;
            font-size: $font-size;
            font-weight: $font-weight;
            color: $color;
            line-height: $line-height;
        }
        @media (min-width: 1024px) {
            &:hover{
                color: $hover-color;
                background-color: $hover-background;
                border-color: $hover-border-color;
                box-shadow: none;
                &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active{
                    color: $hover-color;
                    background-color: $hover-background;
                    border-color: $hover-border-color;
                    box-shadow: none;
                }
            }
        }
        &.#{$ac}-btn-small{
            height: 30px !important;
            padding: 0 10px;
        }
    }

    .#{$ac}-btn-outline-primary {
        @include ac-outline-button(40px, auto, transparent, 1px, solid, $ac_a, $ac_radius, 0 20px, 16px, 400, $ac_a, 100%, $ac_white, $ac_a, $ac_a);
    }

    .#{$ac}-btn-outline-secondary {
        @include ac-outline-button(40px, auto, transparent, 1px, solid, $ac_b, $ac_radius, 0 20px, 16px, 400, $ac_b, 100%, $ac_white, $ac_b, $ac_b);
    }
/* Outline Button E */