/* CMS S */		
	.cms{
		&:after {
		    display: block;
		    clear: both;
		    content: "";
		}
		+ .cms, ~ .cms {
			margin-top: 25px;
		}

		a {
			color: $ac_a;
			font-weight: 600;
			@include ac-media-hover() {
				&:hover{
					color: $ac_b;
				}
			}
		}

		blockquote {
			border-left: 10px solid rgba($ac_a, 1);
			background-color: rgba($ac_black, 0.05);
			padding: 10px 15px 10px 15px;
			display: table;
		}

		.image {
			position: relative;
			z-index: 1;
			max-width: 100%;
		    display: block;
		    box-sizing: border-box;
		    margin-top: 25px;
		    margin-bottom: 25px;
		    margin-left: auto;
		    margin-right: auto;
		    clear: both;
		    text-align: center;

		    @media (max-width: 480px){
		    	width: 100% !important;
		    }

		    @media (min-width: 481px){
			    &.image-style-align-right {
			    	float: right;
			    	margin-left: 25px;
			    }

			    &.image-style-align-left {
			    	float: left;
			    	margin-right: 25px;
			    }
			}

			img {
				display: block;
			    margin: 0 auto;
			    max-width: 100%;
			    min-width: 50px;
				width: 100%;
			}
			figcaption {
				background-color: rgba($ac_black, 0.09);
				padding: 15px;
				text-align: center;
				font-style: italic;
				font-size: 16px;
				line-height: 120%;
			}
		}

		.page-break {
		    position: relative;
		    clear: both;
		    padding: 0;
		    display: flex;
		    align-items: center;
		    justify-content: center;

		    + blockquote {
		    	margin-top: 25px;
		    }
		}

		h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
			font-size: 24px;
		}

		h3,.h3{
			font-size: 20px;
		}

		h4,.h4{
			font-size: 18px;
		}

		h5,.h5{
			font-size: 16px;
		}

		h6,.h6{
			font-size: 16px;
		}

		p, ul li, ol li, .p-tag {
			font-size: $ac_fs_base;
			font-weight: $ac_fw_r;
			line-height: 140%;
			color: $ac_body;
		}
		p, ul, ol, blockquote, .image, .table-responsive, figure.table{
			+ p, + ul, + ol, + blockquote, + table{
				margin-top: 25px;
			}
			+ h1, + h2, + h3, + h4, + h5, + h6, + .h1, + .h2, + .h3, + .h4, + .h5, + .h6{
				margin-top: 25px;
			}
			+ .table-responsive, + figure.table{
				margin-top: 15px;
			}
		}

		h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
			+ h1,+ h2,+ h3,+ h4,+ h5,+ h6, + .h1, + .h2, + .h3, + .h4, + .h5, + .h6 {
				margin-top: 25px;
			}
			+ p, + ul, + ol, + blockquote {
				margin-top: 10px;
			}
			+ .table-responsive, + figure.table{
				margin-top: 15px;
			}
		}

		img + p{
			margin-top: 25px;
		}

		ol, ul{
			position: relative;
			margin: 0;
	    	padding: 0;
	    	list-style-position: inside;
			li{
				position: relative;
				+ li, ul, ol  {
					margin-top: 12px;
				}
				ul, ol {
					margin-left: 15px;
				}
				&:hover {
					color: $ac_a;
				}
			}
			+ p, + h1,+ h2,+ h3,+ h4,+ h5,+ h6, + .h1, + .h2, + .h3, + .h4, + .h5, + .h6 {
				margin-top: 25px;
			}
		}
		ul {
			list-style-type: circle;
		}
	}
/* CMS E */

/* Main Title S */
	.#{$ac}-title{
		font-size: 36px;
		font-weight: 500;
		line-height: 120%;
		color: $ac_black;
		font-family: $ac_ff_two;
		letter-spacing: 0;
		@media (max-width: 1024px) {
			font-size: 24px;
		}
	}
/* Main Title E */

/* Sub Title S */
	.#{$ac}-iptitle{
		font-size: 26px;
		font-weight: 400;
		line-height: 120%;
		color: $ac_black;
		font-family: $ac_ff_two;
		letter-spacing: 0;
		@media (max-width: 1024px) {
			font-size: 18px;
		}
	}

	.#{$ac}-lptitle{
		font-size: 20px;
		font-weight: 400;
		line-height: 120%;
		color: $ac_black;
		@media (max-width: 1024px) {
			font-size: 18px;
		}
	}

	.p-tag {
		font-size: $ac_fs_base;
		font-weight: $ac_fw_r;
		line-height: 130%;
		color: $ac_body;
	}
/* Sub Title E */


.ac-ulli{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	li {
		padding: 0; 
		margin: 0;
	}
}