.#{$ac}-collapse{
    list-style: none;
    .-li {
        + .-li {
            border-top: 1px solid rgba($ac_black, 0.1);
            .-tabs {
                margin-top: -1px;
            }
        }
        .-tabs {
            position: relative;
            display: block;
            font-size: 18px;
            font-weight: 500;
            line-height: 130%;
            color: $ac_a;
            padding: 20px 60px 20px 0;
            span {
                position: absolute;
                border-radius: 50px;
                border: 2px solid $ac_a;
                right: 20px;
                width: 25px;
                height: 25px;
                top: calc(50% - 12.5px);
                &:before, &:after{
                    position: absolute;
                    content: '';
                    background-color: $ac_a;
                    margin: 0 auto;
                }
                &:before{
                    top: calc(50% - 0.5px);
                    left: 0;
                    right: 0;
                    width: 10px;
                    height: 2px;
                }
            }
            &.collapsed{
                span {
                    &:after{
                        top: calc(50% - 4.5px);
                        left: 0;
                        right: 0;
                        width: 2px;
                        height: 10px;
                    }
                }
            }
        }
        .-info  {
            padding: 0 0 20px 0; 
        }
    }
}