.#{$ac}-dropdown{
    .#{$ac}-arrow-no {
        &:after {
            display: none;
        }
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        box-shadow: $ac_bs_5;
        border-radius: 3px;
        border: none;
        top: 15px !important;
        &:before {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;
            border-top-right-radius: 10px;
            position: absolute;
            transform: translateY(-50%);
            left: 15px;
            top: -4px;
            z-index: 100000;
        }
        &.dropdown-menu-right {
            &:before {
                left: auto;
                right: 15px;
            }
        }
        .dropdown-item {
            padding: 10px;
            + .dropdown-item {
                border-top: 1px solid rgba($ac_black, 0.07);
            }
            &:hover {
                background-color: rgba($ac_a, 0.07);
                color: $ac_a;
            }
        }
    }

    .#{$ac}-dropdown-1 {
        .dropdown-item {
            border-left: 3px solid rgba($ac_black, 0.07);
            &:hover {
                border-left: 3px solid rgba($ac_a, 0.5);
            }
        }
    }

    .#{$ac}-dropdown-2 {
        .dd-title {
            padding: 15px;
            font-size: 18px;
            font-weight: 600;
            line-height: 120%;
            color: $ac_white;
            background-color: $ac_a;
        }
        .dropdown-item {
            padding: 15px;
            .dd-img {
                width: 50px;
                flex: 0 0 50px;
                height: 50px;
                background-color: $ac_white;
                border-radius: 50px;
                box-shadow: $ac_bs_5;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                color: $ac_b;
                overflow: hidden;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .dd-info {
                width: calc(300px - 50px - 50px);
                flex: 0 0 calc(300px - 50px - 50px);
                margin: 0 15px;
                .dd-i-title {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    color: $ac_black;
                    white-space: normal;
                }
                .dd-i-sub{
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 120%;
                    color: $ac_body;
                    white-space: normal;
                }
            }
            .dd-time {
                width: 50px;
                flex: 0 0 50px;
                font-size: 12px;
                font-weight: 400;
                line-height: 120%;
                color: $ac_body;
            }
        }
        .dd-seell {
            border-top: 1px solid rgba($ac_black, 0.07);
            padding: 15px;
            font-size: 15px;
            font-weight: 600;
            line-height: 120%;
            color: $ac_body;
            a {
                &:hover {
                    color: $ac_a;
                }
            }
        }
    }

    .#{$ac}-dropdown-3 {
        border: 1px solid rgba($ac_black, 0.07);
        width: 350px;
    }
}