/* Center Images Thumbnail S */
    body {
        .thumbnail-container, .thumbnail_container {
            padding-bottom: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
        .thumbnail {
            margin: 0px;
            display: block;
            padding: 0px;
            border: none;
            height: 100%;
            width: 100%;
            position: absolute;
            background: none;
            a, img{
                display: block;
                height: auto;
                max-height: 100%;
                max-width: 100%;
                width: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                position: absolute;
                @include ac-transition();
            }
        }
        .object-fit {
            img {
                object-fit: cover;
                width: 100%;
                height: 100%; 
            }
            .lazyimg, .lazy-webp + .lazy {
                object-fit: none;
                width: auto;
                height: auto; 
            }
        }
    }
/* Center Images Thumbnail S */