/* Pagination S */
    .#{$ac}-pagination{
        margin: 0 0 0 0;
        padding: 0;
        list-style: none;
        font-size: 0;
        display: inline-flex;
        li{
            margin: 0 0px;
            padding: 0;
            display: inline-flex;
            a{
                position: relative;
                float: left;
                padding: 0;
                margin-left: -1px;
                width: 35px;
                height: 35px;
                background-color: $ac_white;
                border: 1px solid rgba($ac_black, 0.07);
                border-radius: 0;
                font-size: $ac_fs_base;
                font-weight: $ac_fw_r;
                color: $ac_body;
                line-height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    width: 15px;
                    height: 15px;
                }
                @include ac-media-hover (){
                    &:hover {
                        color: $ac_white;
                        background-color: $ac_a;
                        border-color: $ac_a;
                    }
                }
            }
            &.active{
                a{
                    color: $ac_white;
                    background-color: $ac_a;
                    border-color: $ac_a;
                    cursor: default;
                    pointer-events: none;
                }
            }
            &:first-child{
                a{
                    @include css3-prefix ('border-radius', '#{$ac_radius} 0 0 #{$ac_radius}');
                }
            }
            &:last-child{
                a{
                    @include css3-prefix ('border-radius', '0 #{$ac_radius} #{$ac_radius} 0');
                }
            }
        }
    }
/* Pagination E */