.#{$ac}-share{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	li {
	    display: inline-flex;
	    margin-right: 5px;
	    &:last-child{
	        margin-right: 0;
	    }
	    a {
	        font-size: 16px;
	        line-height: 30px;
	        color: $ac_body;
	        display: inline-flex;
	        width: 30px;
	        height: 30px;
	        border: 1px solid rgba($ac_black, 0.07);
	        border-radius: $ac_radius;
	        text-align: center;
	        align-items: center;
	        justify-content: center;
	        &:hover {
	            background-color: $ac_a;
	            color: $ac_white;
	        }
	    }
	}
}