/* Default and Responsive Table S */
    .cms, .#{$ac}-table{
        table{
            width: 100%;
            margin-bottom: 0px;
            border: 1px solid rgba($ac_black, 0.05);
            tr{
                &:first-of-type(){
                    td{
                        background-color: $ac_white;
                        color: $ac_black;
                    }   
                }
                &:nth-of-type(odd){
                    td{
                        background-color: $ac_white;
                    }
                }
                &:nth-of-type(even){
                    td{
                        background-color: rgba($ac_black, 0.05);
                        border: 1px solid rgba($ac_black, 0.05);
                    }
                }
                &:hover{
                    td {
                        background-color: rgba($ac_a, 0.05);
                        color: $ac_a;
                        &:hover{
                            background-color: rgba($ac_a, 0.5);
                            color: $ac_white;
                        }
                    }
                }
                td{
                    font-size: $ac_fs_base;
                    @media (max-width: 1366px){
                        font-size: $ac_fs_base - 2px;
                    }
                    font-weight: 400;
                    line-height: 130%;
                    color: $ac_body;
                    font-style: normal;
                    border: 1px solid rgba($ac_black, 0.05);
                    padding: 8px 8px;

                }
                th{
                    border-bottom: 1px solid rgba($ac_black, 0.05);
                    border-right: 1px solid rgba($ac_black, 0.05);
                    background-color: rgba($ac_b, 0.05);
                    font-style: normal;
                    font-size: $ac_fs_base;
                    font-weight: $ac_fw_sb;
                    line-height: 120%;
                    color: $ac_b;
                    padding: 8px 8px 12px 8px;
                    &:last-child{
                        border-right: 1px solid rgba($ac_black, 0.05);
                    }
                }
            }
        }
        .table-responsive{
            border: 0px solid rgba($ac_black, 0.05);
        }
    }
/* Default and Responsive Table E */