body #back-top {
    position: fixed;
    bottom: 25px;
    right: 15px;
    cursor: pointer;
    z-index: 99;
    background-color: $ac_a;
    border-radius: 5px;
    font-size: $ac_fs_base + 4px;
    color: $ac_white;
    text-align: center;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    &:hover{
        background-color: $ac_b;
    }
    svg {
        transform: rotate(90deg);
    }
    @media (max-width:767px) {
        display: none !important;
    }
}