.#{$ac}-input{
    .dropdown-toggle {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
            box-shadow: none;
            background-color: transparent;
            outline: none !important;
            outline-offset: 0;
        }
        .filter-option{
            display: flex;
            align-items: center;
            .filter-option-inner-inner {
                font-size: $ac_fs_base;
                font-weight: 400;
                line-height: 150%;
                color: $ac_body;
            }
        }
    }
    &.show {
        .dropdown-toggle {
            background-color: transparent;
        }
    }

    .dropdown-menu{
        margin: -1px 0 0 0;
        padding: 0;
        list-style: none;
        border-radius: 0;
        li{
            margin: 0;
            padding: 0;
            a{
                padding: 10px 15px;
                border-bottom: 1px solid rgba($ac_black,0.07);
                .text{
                    font-weight: 400;
                    font-size: $ac_fs_base;
                    color: $ac_body;
                    line-height: 0;
                }
                &.active, &:hover, &:active{
                    background-color: rgba($ac_a,1);
                    .text{
                        color: $ac_white;
                    }
                }
                &.selected span.check-mark {
                    top: 11px !important;
                    font-size: 11px;
                }
                &.opt{
                    padding-left: 20px !important;
                    &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
                        outline: none !important;
                    }
                }
                &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
                    outline: none !important;
                }
            }
            &:last-child{
                a{
                    border-bottom: none;
                }
            }
            &.divider{
                display: none;
            }
            &.dropdown-header{
                padding: 6px 10px 5px 10px;
                border-bottom: 1px solid rgba($ac_black,0.07);
                background-color: rgba($ac_black,0.07);
                .text{
                    font-size: 18px;
                    font-weight: 400;
                    color: $ac_a;
                }
                ~ .dropdown-divider {
                    border: none;
                }
            }
            .text-muted, &.active .text-muted{
                color: $ac_a;
            }
        }
    }

    .bs-searchbox{
        .form-control{
            font-size: $ac_fs_base;
            font-weight: $ac_fw_r;
            font-style: normal;
            line-height: 150%;
            color: $ac_black;
            border: 1px solid rgba($ac_body, 0.5);
            resize: none;
            height: 34px;
            border-radius: 0;
            @include css3-prefix ('box-shadow', 'none');
            &:focus{
                outline: none;
                border-color: $ac_a;
                @include css3-prefix ('box-shadow', 'none');
                @include ac-transition();
            }
            @include placeholder (){
                color: rgba($ac_body, 0.5);
            }
        }
    }

    .bootstrap-select .dropdown-menu .notify, .bs-actionsbox, .bs-actionsbox, .bs-donebutton, .bs-searchbox {
        padding: 8px 8px !important;
    }

    .no-results {
        padding: 5px 15px;
    }

    .close{
        position: absolute;
        right: 15px;
        top: 2px;
        &:hover, &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
            background: none;
            color: $ac_body;
            @include css3-prefix ('box-shadow', 'none');
        }
    }

    .glyphicon {
        margin-right: 5px;
    }
}