/* Loader S */
	.#{$ac}-loader {	
		overflow: hidden;
		vertical-align: middle;
		position: fixed;
		display: table;
		background: $ac_b;
		width: 100%;
		height: 100%;
		min-height: 100%;
		top: 0;
		z-index: 9999999;	           
		@include css3-prefix('transition', 'all 0.5s ease-in-out');
		.#{$ac}-loader__container {
			position: relative;
			vertical-align: middle;
			z-index: 9;
			width: 100%;
			height: 100vh;
			display: table-cell;
		}
		&.#{$ac}-loader__up{		
			@include css3-prefix('animation', 'ac-loader__up 1s 0.5s normal forwards ease-in-out');
		}
	}
	@include keyframes (ac-loader__up){
		0% {
			@include css3-prefix('transform', 'translateY(0vh)');
			@include css3-prefix('will-change', 'transform');
		}
		50%{
			opacity: 0;
		}
		100% {
			@include css3-prefix('transform', 'translateY(-100vh)');
			@include css3-prefix('will-change', 'transform');
			opacity: 0;
		}
	}
	.spinner {
		margin: 0px auto;
		text-align: center;
	  	div {
		    width: $ac_fs_base + 2px;
		    height: $ac_fs_base + 2px;
		    background-color: $ac_white;
		    display: inline-block; 
		    margin-right: 5px; 
		    @include css3-prefix('animation', 'bouncedelay 1.7s infinite ease-in-out both');
		    border-radius: 100%;
	  	}
		.spinner_item1 {
		  	@include css3-prefix('animation-delay', '-0.6s');
		}
	  	.spinner_item2 {
	  		@include css3-prefix('animation-delay', '-0.4s');
	  	}
	  	.spinner_item3 {
	  		@include css3-prefix('animation-delay', '-0.2s');
	  	}
	}
	@include keyframes (bouncedelay){
		0%, 80%, 100% {		
			@include css3-prefix('transform', 'scale(0)');
			opacity: 0;
		}
		40% {		
			@include css3-prefix('transform', 'scale(1)');
			opacity: 1;
		}
	}
/* Loader E */