/*  Material Color Generator: http://mcg.mbitson.com/ https://material.io/resources/color/ */

$ac_body: 				#212529;

$ac_a: 					#1e319d;
$ac_b: 					#f95f3b;
$ac_c: 					#f0f2ff;

$ac_black: 				#000000 !default;
$ac_white: 				#ffffff !default;


/* Background Color, Font Color, Border Color S */
	$ccssBaseColors: (
	    body: $ac_body,
	    black: $ac_black,
	    a: $ac_a,
	    b: $ac_b,
	    c: $ac_c,
	);
/* Background Color, Font Color, Border Color E */