/* Transition S */
	$ac_3_ti_1s: all 0.1s ease-in-out;
	$ac_3_ti_2s: all 0.2s ease-in-out;
	$ac_3_ti_3s: all 0.3s ease-in-out;
	$ac_3_ti_4s: all 0.4s ease-in-out;
	$ac_3_ti_5s: all 0.5s ease-in-out;
	$ac_3_ti_6s: all 0.6s ease-in-out;
	$ac_3_ti_7s: all 0.7s ease-in-out;
	$ac_3_ti_8s: all 0.8s ease-in-out;
	$ac_3_ti_9s: all 0.9s ease-in-out;
/* Transition S */


/* Border Radius S */
	$ac_radius: 						3px;
/* Border Radius E */


$ac_bs_1: 						0 2px 2px 0 rgba($ac_black,0.03),
											0 1px 5px 0 rgba($ac_black,0.03),
											0 3px 1px -2px rgba($ac_black,0.03);

$ac_bs_2: 						0 4px 5px 0 rgba($ac_black,0.03),
											0 1px 10px 0 rgba($ac_black,0.03),
											0 2px 4px -1px rgba($ac_black,0.03);

$ac_bs_3: 						0 6px 10px 0 rgba($ac_black,0.03),
											0 1px 18px 0 rgba($ac_black,0.03),
											0 3px 5px -1px rgba($ac_black,0.03);

$ac_bs_4: 						0 8px 10px 1px rgba($ac_black,0.03),
											0 3px 14px 2px rgba($ac_black,0.03),
											0 5px 5px -3px rgba($ac_black,0.03);

$ac_bs_5: 						0 16px 24px 2px rgba($ac_black,0.03),
											0 6px 30px 5px rgba($ac_black,0.03),
											0 8px 10px -5px rgba($ac_black,0.03);