$ac: 'ac';

$ac_ff_one:						'Source Sans Pro', sans-serif;
$ac_ff_two:						'Rubik', sans-serif;
$ac_ff_three:					'';

$ccssBaseFontFamily: (
    1: $ac_ff_one,
    2: $ac_ff_two
);

$ac_fs_base: 					16px;

$ac_fs_h1: 						24px;
$ac_fs_h2: 						24px;
$ac_fs_h3: 						20px;
$ac_fs_h4: 						18px;
$ac_fs_h5: 						16px;
$ac_fs_h6: 						16px;

$ac_lh_base:					150%;

$ac_fw_t:						100;
$ac_fw_el:						200;
$ac_fw_l:						300;
$ac_fw_r:						400;
$ac_fw_m:						500;
$ac_fw_sb:						600;
$ac_fw_b:						700;
$ac_fw_eb:						800;
$ac_fw_bl:						900;

$ac-image: "../images/" !default;