/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Border S */
    @each $ccssBorderSize in $ccssBorderSizeArray {
        @each $ccssBorderSide in $ccssBorderSideArray {
            .#{$ccss}-#{$ccssBorder}-#{str-slice($ccssBorderSide, 0, 1)}-#{$ccssBorderSize} {
                border-#{$ccssBorderSide}: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
        }
        .#{$ccss}-#{$ccssBorder}-v-#{$ccssBorderSize} {
            border-top: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            border-bottom: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
        }
        .#{$ccss}-#{$ccssBorder}-h-#{$ccssBorderSize} {
            border-left: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            border-right: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
        }
        .#{$ccss}-#{$ccssBorder}-a-#{$ccssBorderSize} {
            border: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
        }
    }
    
    @media #{$min576} {
        @each $ccssBorderSize in $ccssBorderSizeArray {
            @each $ccssBorderSide in $ccssBorderSideArray {
                .#{$ccss}-#{$ccssBorder}-#{str-slice($ccssBorderSide, 0, 1)}-sm-#{$ccssBorderSize} {
                    border-#{$ccssBorderSide}: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                }
            }
            .#{$ccss}-#{$ccssBorder}-v-sm-#{$ccssBorderSize} {
                border-top: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-bottom: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-h-sm-#{$ccssBorderSize} {
                border-left: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-right: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-a-sm-#{$ccssBorderSize} {
                border: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
        }
    }
  
    @media #{$min768} {
        @each $ccssBorderSize in $ccssBorderSizeArray {
            @each $ccssBorderSide in $ccssBorderSideArray {
                .#{$ccss}-#{$ccssBorder}-#{str-slice($ccssBorderSide, 0, 1)}-md-#{$ccssBorderSize} {
                    border-#{$ccssBorderSide}: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                }
            }
            .#{$ccss}-#{$ccssBorder}-v-md-#{$ccssBorderSize} {
                border-top: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-bottom: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-h-md-#{$ccssBorderSize} {
                border-left: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-right: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-a-md-#{$ccssBorderSize} {
                border: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
        }
    }
  
    @media #{$min992} {
        @each $ccssBorderSize in $ccssBorderSizeArray {
            @each $ccssBorderSide in $ccssBorderSideArray {
                .#{$ccss}-#{$ccssBorder}-#{str-slice($ccssBorderSide, 0, 1)}-lg-#{$ccssBorderSize} {
                    border-#{$ccssBorderSide}: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                }
            }
            .#{$ccss}-#{$ccssBorder}-v-lg-#{$ccssBorderSize} {
                border-top: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-bottom: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-h-lg-#{$ccssBorderSize} {
                border-left: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-right: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-a-lg-#{$ccssBorderSize} {
                border: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
        }
    }
  
    @media #{$min1200} {
        @each $ccssBorderSize in $ccssBorderSizeArray {
            @each $ccssBorderSide in $ccssBorderSideArray {
                .#{$ccss}-#{$ccssBorder}-#{str-slice($ccssBorderSide, 0, 1)}-xl-#{$ccssBorderSize} {
                    border-#{$ccssBorderSide}: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                }
            }
            .#{$ccss}-#{$ccssBorder}-v-xl-#{$ccssBorderSize} {
                border-top: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-bottom: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-h-xl-#{$ccssBorderSize} {
                border-left: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-right: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-a-xl-#{$ccssBorderSize} {
                border: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
        }
    }

    @media #{$min1366} {
        @each $ccssBorderSize in $ccssBorderSizeArray {
            @each $ccssBorderSide in $ccssBorderSideArray {
                .#{$ccss}-#{$ccssBorder}-#{str-slice($ccssBorderSide, 0, 1)}-xxl-#{$ccssBorderSize} {
                    border-#{$ccssBorderSide}: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                }
            }
            .#{$ccss}-#{$ccssBorder}-v-xxl-#{$ccssBorderSize} {
                border-top: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-bottom: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-h-xxl-#{$ccssBorderSize} {
                border-left: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-right: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-a-xxl-#{$ccssBorderSize} {
                border: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
        }
    }

    @media #{$min1400} {
        @each $ccssBorderSize in $ccssBorderSizeArray {
            @each $ccssBorderSide in $ccssBorderSideArray {
                .#{$ccss}-#{$ccssBorder}-#{str-slice($ccssBorderSide, 0, 1)}-xxxl-#{$ccssBorderSize} {
                    border-#{$ccssBorderSide}: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                }
            }
            .#{$ccss}-#{$ccssBorder}-v-xxxl-#{$ccssBorderSize} {
                border-top: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-bottom: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-h-xxxl-#{$ccssBorderSize} {
                border-left: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
                border-right: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
            .#{$ccss}-#{$ccssBorder}-a-xxxl-#{$ccssBorderSize} {
                border: #{$ccssBorderSize}px solid #{$ccssBorderColor} !important;
            }
        }
    }
/* Border E */