/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Link S */
    @each $color, $value in $ccssBaseColors {
        .#{$ccss}-ah-#{$color} {
            &:hover, &.active{
            	color: $value !important;
            }
        }
    }
/* Link E */