/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Before After S */
    .#{$ccss}-b, .#{$ccss}-a {
        position: relative;
        z-index: 1;
    }
    
    .#{$ccss}-b {
        &:before {
            position: absolute;
            z-index: -1;
            content: '';
        }
    }

    .#{$ccss}-a {
        &:after {
            position: absolute;
            z-index: -1;
            content: '';
        }
    }

    .#{$ccss}-i-t{
        &:before, &:after{
            top: 0;
        }
    }
    .#{$ccss}-i-r{
        &:before, &:after{
            right: 0;
        }
    }
    .#{$ccss}-i-b{
        &:before, &:after{
            bottom: 0;
        }
    }
    .#{$ccss}-i-l{
        &:before, &:after{
            left: 0;
        }
    }
    .#{$ccss}-i-v{
        &:before, &:after{
            top: 0;
            bottom: 0;
        }
    }
    .#{$ccss}-i-h{
        &:before, &:after{
            left: 0;
            right: 0;
        }
    }
    .#{$ccss}-i-a{
        &:before, &:after{
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
/* Before After E */