/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Font Family S */
    @each $ccssBaseFF, $value in $ccssBaseFontFamily {
        .#{$ccss}-ff-#{$ccssBaseFF} {     
            font-family: $value;
        }
    }
/* Font Family E */