/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Font Size S */
    @for $i from $csssFontSizeMin through $csssFontSizeMax {
        .#{$ccss}-fs-#{$i} {
            font-size: #{$i}px;
        }
	    @media #{$min576} {
	    	.#{$ccss}-fs-#{$i}-sm {
	            font-size: #{$i}px;
	        }
	    }
	    @media #{$min768} {
	    	.#{$ccss}-fs-#{$i}-md {
	            font-size: #{$i}px;
	        }
	    }
	    @media #{$min992} {
	    	.#{$ccss}-fs-#{$i}-lg {
	            font-size: #{$i}px;
	        }
	    }
	    @media #{$min1200} {
	    	.#{$ccss}-fs-#{$i}-xl {
	            font-size: #{$i}px;
	        }
	    }
	    @media #{$min1366} {
	    	.#{$ccss}-fs-#{$i}-xxl {
	            font-size: #{$i}px;
	        }
	    }
	    @media #{$min1400} {
	    	.#{$ccss}-fs-#{$i}-xxl {
	            font-size: #{$i}px;
	        }
	    }
    }
/* Font Size E */