/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Font Color S */
    @each $color, $value in $ccssBaseColors {
        .#{$ccss}-fc-#{$color} {     
            color: $value;
        }
    }
/* Font Color E */