/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Grid S */
    @media (min-width: 1400px){
        @for $i from 1 through 12 {
            .col-xxl-#{$i} {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                flex: 0 0 percentage($i / 12);
                max-width: percentage($i / 12);
            }
        }
    }
/* Grid E */