@function colorMap($baseColors, $variations) {
    $colors:();
  
    @each $color, $value in $baseColors {
        $maxVar: 36;
        $mid: $variations / 2;
        $dist: $mid - 1;
        $step: $maxVar / $dist;
    
        // lighten and darken
        @for $i from 1 through $dist {
            $percent: $maxVar - ($step * ($i - 1));
            $darken: ($variations - $i) * 100;
            $lighten: $i * 100;

            $colors: map-merge($colors, (
                #{$color}-#{$lighten}: lighten($value, $percent),
                #{$color}-#{$darken}:  darken($value, $percent)
            ));
        }

        // middle eg 500
        $colors: map-merge($colors, (#{$color}-50: lighten($value, 38.7)));
        $colors: map-merge($colors, (#{$color}-#{$variations/2*100}: $value));
    }
    @return $colors;
}