/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Background Color S */
    @each $ccssBaseColor, $value in $ccssBaseColors {
        .#{$ccss}-#{$ccssBgc}-#{$ccssBaseColor} {     
            background-color: $value;
        }
    }
/* Background Color E */