/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Gap S */
    @each $ccssGapSize in $ccssGapSizeArray {    
        @media #{$min576} {
            .#{$ccss}-gp-sm-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }
      
        @media #{$min768} {
            .#{$ccss}-gp-md-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }
      
        @media #{$min992} {
            .#{$ccss}-gp-lg-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }
      
        @media #{$min1200} {
            .#{$ccss}-gp-xl-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }

        @media #{$min1366} {
            .#{$ccss}-gp-xxl-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }

        @media #{$min1400} {
            .#{$ccss}-gp-xxxl-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }

        @media (max-width: 575px) {
            .#{$ccss}-gm-sm-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }
      
        @media (max-width: 767px) {
            .#{$ccss}-gm-md-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }
      
        @media (max-width: 991px) {
            .#{$ccss}-gm-lg-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }
      
        @media (max-width: 1199px) {
            .#{$ccss}-gm-xl-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }

        @media (max-width: 1365px) {
            .#{$ccss}-gm-xxl-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }

        @media (max-width: 1399px) {
            .#{$ccss}-gm-xxxl-#{$ccssGapSize} {
                &:nth-child(n+#{$ccssGapSize}) {
                    margin-top: $ccssGapMarginTop;
                }
            }
        }
    }
/* Gap E */