/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss 
- - - - - - - - - - - - - */

/* Text Shadow S */
    .#{$ccss}-#{$ccssTexts}-1 {
        @include css3-prefix ('text-shadow', #{$ccssTextShodow1});
    }

    .#{$ccss}-#{$ccssTexts}-2 {
        @include css3-prefix ('text-shadow', #{$ccssTextShodow2});
    }

    .#{$ccss}-#{$ccssTexts}-3 {
        @include css3-prefix ('text-shadow', #{$ccssTextShodow3});
    }

    .#{$ccss}-#{$ccssTexts}-4 {
        @include css3-prefix ('text-shadow', #{$ccssTextShodow4});
    }

    .#{$ccss}-#{$ccssTexts}-5 {
        @include css3-prefix ('text-shadow', #{$ccssTextShodow5});
    }

    .#{$ccss}-#{$ccssTexts}-none {
        @include css3-prefix ('text-shadow', none);
    }
/* Text Shadow E */