/* Background Size S */
    @each $ccssBackgroundSizeClass in $ccssBackgroundSizeClasses {
      	$index: index($ccssBackgroundSizeClasses, $ccssBackgroundSizeClass);
      	.#{$ccss}-#{$ccssBgs}-#{nth($ccssBackgroundSizeClasses, $index)}{
        	background-size: #{nth($ccssBackgroundSizes, $index)};
      	}
    }
/* Background Size E */