/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Animations S */
    .#{$ccss}-a-1 {
        img {
            transition: all .5s ease-in-out;
            transform: scale(1);
        }
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
/* Animations E */